@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/\.rbenv\/versions\/2\.1\.0\/lib\/ruby\/gems\/2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/\.rbenv\/versions\/2\.1\.0\/lib\/ruby\/gems\/2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/\.rbenv\/versions\/2\.1\.0\/lib\/ruby\/gems\/2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/\.rbenv\/versions\/2\.1\.0\/lib\/ruby\/gems\/2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/\.rbenv\/versions\/2\.1\.0\/lib\/ruby\/gems\/2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/\.rbenv\/versions\/2\.1\.0\/lib\/ruby\/gems\/2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/\.rbenv\/versions\/2\.1\.0\/lib\/ruby\/gems\/2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/\.rbenv\/versions\/2\.1\.0\/lib\/ruby\/gems\/2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/\.rbenv\/versions\/2\.1\.0\/lib\/ruby\/gems\/2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/neat\/grid\/_grid\.scss}line{font-family:\000032}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\000035}}
body {
  position: relative;
  height: 100%;
  background-color: white;
  background-image: url("../img/skulls/skulls.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\0000310}}
body p {
  line-height: 2;
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\0000314}}
h1, h2, h3, h4 {
  font-family: Handlee, sans-serif;
  color: #4d4d4d;
  padding-bottom: 24px;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\0000320}}
h1 {
  font-size: 28px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\0000323}}
h2 {
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\0000326}}
p {
  font-family: Handlee, sans-serif;
  color: #4d4d4d;
  padding-bottom: 24px;
  font-size: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\0000332}}
.inner-row {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4%;
  padding-right: 4%;
  max-width: 1000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/bourbon\/addons\/_clearfix\.scss}line{font-family:\0000318}}
.inner-row:before, .inner-row:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/bourbon\/addons\/_clearfix\.scss}line{font-family:\0000323}}
.inner-row:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\0000338}}
#outer-wrapper {
  position: relative;
  width: 96%;
  max-width: 1000px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e8e8e8;
  border-radius: 3px;
  border: 1px solid #d2d2d2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\0000350}}
header#page-header {
  background-color: white;
  padding-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\0000355}}
header#page-header .smiley-container {
  height: 80px;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\0000361}}
header#page-header .smiley-container img {
  height: 56px;
  margin-bottom: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\0000364}}
header#page-header .logo-container {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\0000366}}
header#page-header .logo-container img {
  max-width: 90%;
  padding-bottom: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\0000370}}
input[type=text] {
  border: 0;
  border-bottom: 2px solid #414141;
  height: 22px;
  padding: 2px;
  font-size: 18px;
  margin-bottom: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mantis\/wa\/thinkful_angular\/madlibs\/sass\/site\.sass}line{font-family:\0000379}}
span.blank {
  display: inline-block;
  min-width: 100px;
  border-bottom: 1px solid white;
}

/*************************************************** */
/*   media query extentions begin below...           */
/*************************************************** */
/*************************************************** */
/* Detect tablet size and include appropriate styles */
/*************************************************** */
@media all and (min-width: 768px) {
  /* styles for tablet and larger  */
}
/*************************************************** */
/* Detect tablet size and include appropriate styles */
/*************************************************** */
@media all and (min-width: 960px) {
  /* styles for screens larger then tablets */
}
