<!DOCTYPE html ng-app="swmadlibs">
<html lang="en"  ng-app="swmadlibs">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>madlibs</title>
    <link rel="stylesheet" type="text/css"  href="css/site.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="bower_components/jquery2/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../js/sw-madlibs.js"></script>    
  </head>
  <body>    
    <section id="outer-wrapper" >
      <section id="main-content">
        <header id="page-header">
          <div class="inner-row">
            <div class="smiley-container">
	      <img src="img/mad-lib-happy-face.png" alt="smiley greeting"/>
	    </div>
            <div class="logo-container">
	      <img src="img/ng-mad-libs-logo.png" alt="logo"/>
	    </div>
	  </div>
        </header>  <!-- page-header ends -->

        <section id="definitions">
        <div class="inner-row">
	  <h2>Provide the following...</h2>
	<p>
	  <input placeholder="female name"  type="text" ng-model="femalename"/>
	  <input  placeholder="job title" type="text" ng-model="jobtitle" />
	  <input placeholder="tedious task" type="text" ng-model="tedioustask" />
          <input  placeholder="dirty task" type="text"  ng-model="dirtytask""/>
          <input placeholder="useless skill" type="text" ng-model="uselessskill" />
          <input  placeholder="obnoxious celebrity" type="text"  ng-model="obnoxiouscelebrity""/>
          <input  placeholder="celebrity" type="text"  ng-model="celebrity" />
          <input placeholder="huge number" type="text" ng-model="hugenumber" />
          <input placeholder="adjective" type="text" ng-model="adjective" />
	</p>
	</div> <!-- ENDS .inner-row -->
	</section>

        <section id="story" >
          <div class="inner-row">
	    <p>
	      <span class="blank">{{femalename}}</span> was a  <span class="blank">{{jobtitle}}</span> who loved
	      technology. Although she loved parts of her job, she absolutely hated  <span class="blank">{{tedioustask}}</span>
	      and  <span class="blank">{{dirtytask}}</span>.  So  <span class="blank">{{femalename}}</span> met with
	      her life mentor  <span class="blank">{{celebrity}}</span> who told her to learn how to <span>{{uselessskill}}</span>
	      with <a href="http://thinkful.com" class="link-thinkful" target="_blank">Thinkful</a> .
	    </p>
	    <p>
	      <a href="http://thinkful.com" class="link-thinkful" target="_blank">Thinkful</a> didn't offer  a course on
	      <span class="blank">{{uselessskill}}</span> so she studied programming instead.	      
	    </p>
	    <p>
	      What a great decision! With her new skills  <span class="blank">{{femalename}}</span> built a
	      <span class="blank">{{adjective}}</span> robot named  <span class="blank">{{obnoxiouscelebrity}}</span>
	      that only not only loved  <span class="blank">{{dirtytask}}</span> but did it
	      <span class="blank">{{hugenumber}}</span> times faster.
	    </p>
	  </div>
        </section><!-- ENDS #story -->

	
      </section>  <!-- main-content ends -->
      <footer id="page-footer">
        <div class="inner-row">
	  <p>
	    This experiment has been done as an assignment as part of the
	    <a href="http://thinkful.com" target="_blank">thinkful</a> angular course.
	  </p>
	  <p><a href="http://sunil.co.nz" target="_blank">By Sunil Williams</a></p>
	</div>
      </footer>

    </div>  <!-- outer-wrapper ends -->
  </body>
</html>

